@{
    ViewData["Title"] = "Recurrente Checkout Test - C#";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <script src="~/recurrente-checkout.js"></script>
</head>
<body>
    <h2>Embedded Checkout Test - C#</h2>
    <div id="checkout-container"></div>

    <script>
        RecurrenteCheckout.load({
            url: "https://f468-181-114-8-163.ngrok-free.app/s/neonet/pay_stkqh5jz",
            onSuccess: function(paymentData) {
                console.log('Payment completed successfully!', paymentData.checkoutId);
                alert(`Payment completed successfully! ${paymentData.checkoutId}`);
                // Add a delay before redirecting to success page
                setTimeout(function() {
                    window.location.href = `/Home/Success?checkoutId=${paymentData.checkoutId}`;
                }, 2000); // 2 second delay
            },
            onFailure: function(data) {
                console.log('Payment failed with the following error:', data.error);
                alert(`Payment failed with the following error: ${data.error}`);
                window.location.href = '/Home/Failure';
            },
            onPaymentInProgress: function(data) {
                console.log('Payment in progress:', data);
                alert(`Payment in progress: ${data.checkoutId}`);
            }
        });
    </script>
</body>
</html>
